@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color: #fab10d;
    --general-color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fab10d;
    border-radius: 6px;
}

body{
    font-family: 'Montserrat', sans-serif;
}  

a{
    text-decoration: none;
}

button{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border: 0;
    outline: 0;
}

.row{
    width: 100%;
}

header{
    background-color: var(--general-color);
    width: 100%;
}

header .top-nav{
    padding: 10px;
}

header .top-nav,
header .top-nav .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .top-nav .container .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 200px;
}

header .logo img{
    width: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 576px){
    header .logo img{
        max-width: 200px;
    }
}


header .menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    min-height: 0;
    padding: 0;
    position: relative;
    flex-direction: column;
}

header .nav-links{
    padding: 0 15px;
    margin-bottom: 0;
    flex-direction: row;
    cursor: pointer;

}

header .nav-links a.link{
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding: 12px;
    color: #fff;
}
header .nav-links a.link::before,
header .nav-links a.link::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    transform: scale(0);
    transition: all 0.3s;
}
header .nav-links a.link::before{
    top: 0;
}
header .nav-links a.link::after{
    bottom: 0;
}
header .nav-links a.link:hover{
    color: var(--primary-color);
}
header .nav-links a.link:hover::before,
header .nav-links a.link:hover::after{
    transform: scale(1);
}

 header .nav-links a.active{
    color: var(--primary-color);
 }

header .flags{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .flags button{
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

header .flags button img{
    width: 35px;
    height: 35px;
}

header .menu-button{
    width: 55px;
    height: 50px;
    font-size: 22px;
    transition: all .2s;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
}

header .menu-button:hover{
    color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 50%;
}

header .menuu-button i{
    color: var(--primary-color);
}

.offcanvas{
    background-color: var(--general-color);
}

.offcanvas-header .canvas-img{
    width: 158px;
}

.offcanvas-header .canvas-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.offcanvas-header .close-button i{
    font-size: 30px;
    color: var(--primary-color);
}

.offcanvas-body .nav-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offcanvas-body .nav-links .link:hover{
    color: var(--general-color);
    background-color: var(--primary-color);
    border-radius: 10px;
}

.offcanvas-body .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.social-icons{
    display: flex;
}

.social-icons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    margin: 5px;
}

.social-icons .link:hover{
    border-radius: 50%;
    color: var(--general-color);
    background-color: var(--primary-color);
    transition: all .3s;
    border: 1px solid var(--primary-color);
}

.social-icons .link i{
    font-size: 20px;
    align-items: center;
}

.contact-links,
.contact-links .link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-links{
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    margin-top: 20px;
}

.contact-links .link{
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    padding: 12px 25px;
}

.contact-links .link:hover{
    background-color: var(--primary-color);
    color: var(--general-color);
    transition: all .2s;
}

.contact-links .link i{
    font-size: 26px;
    transition: all .2s;
    margin-right: 10px;
}


.swiper{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.swiper-slide .banner-img{
    width: 100%;
    min-height: 80vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-button-next,
.swiper-button-prev{
    color: #fff;
    font-weight: 600;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 30px;
}

@media only screen and (max-width:576px){
    .swiper-button-next::after,
    .swiper-button-prev::after{
        font-size: 20px;
    }
}

section.home .swiper-slide::after{
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


section.home .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width:576px){
    section.home .container,
    section.home .container .content .text{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}

section.home .container .text{
    max-width: 700px;
    padding: 20px;
}

@media only screen and (min-width:576px){
    section.home .container .text{
        text-align: start;
    }
}

@media only screen and (min-width:992px){
    section.home .container .text{
        font-size: 24px;
    }
}


@media only screen and (min-width:1200px){
    section.home .container .text p{
        font-size: 32px;
    }
}

@media only screen and (max-width:576px){
    section.home .text p{
       text-align: center;
    }
}

section.home .container .text .large-text{
    margin-bottom: 25px;
}


section.home .content p{
    color: #fff;
    font-size: 24px;
    z-index: 9;
    position: relative;
}

section.about{
    text-align: center;
}

section.about .container{
    margin-top: 50px;
}

section.about .row{
    width: 100%;
}

section.about .row .col-12{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
}

.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

section.about .section-title::after{
    position: absolute;
    background-color: var(--primary-color);
    width: 60%;
    height: 3px;
    bottom: -10px;
    content: '';
    left: 50%;
    transform: translateX(-50%);
}

section.about .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 16px;
}



@media only screen and (min-width:768px){
    section.about .content{
        align-items: flex-start;
        text-align: start;
    }
}

@media only screen and (min-width:768px){
    section.about .content .text{
        text-align: justify;
    }
}


section.about .text-title{
    font-size: 20px;
    margin-bottom: 10px;
}

section.about .text p{
    color: rgba(0, 0, 0, .6);
}

section.form{
    padding: 30px 0;
}

section .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

section.form .general-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media only screen and (min-width:1024px){
    section.form .general-form{
        align-items: flex-start;
    }
}

section.form{
    background: linear-gradient(30deg,var(--general-color) 50%, var(--primary-color) 50% 100%);
}

@media only screen and (min-width:992px){
    section.form{
        background: linear-gradient(to right, var(--general-color) 50%, var(--primary-color) 50% 100%);
    }
}



section.form .form-title{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}

@media only screen and (max-width:992px){
    section.form .form-title{
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
}

section.form .form-content{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    width: 100%;
    min-height: 830px;
    margin-bottom: 20px;
}

section.form .form-content .f_component{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

section.form .input-group-text{
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
    padding: 0 15px;
    transition: all 0.3s;
}

.f_component:hover input{
    border-color: var(--primary-color);
}

.f_component:hover .input-group-text{
    background-color: #fff;
    color: var(--primary-color);
}

section.form .form-check-input:checked{
    box-shadow: none;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

section.form .form-checkbox{
    margin-bottom: 5px;
}

section.form .file-input{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}
section.form .file-input input{
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    appearance: none;
    left: 0;
    top: 0;
    z-index: 5;
}

section.form input.form-control:focus{
    box-shadow: none;
    border-color: var(--primary-color);
}

section.form .file-input span{
    border:  1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    padding: 10px 60px 10px 13px;
}

section.form .file-input button{
    position: absolute;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding: 7px 12px;
    text-transform: uppercase;
}

section.form .submit-button{
    position: relative;
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    align-self: flex-end;
    margin: 10px 0;
    padding: 15px 30px;
}

@media only screen and (max-width:992px) {
    section.form .submit-button{
        padding: 12px;
    }
}

section.form .submit-button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid var(--primary-color);
    transform: scale(1.3);
    opacity: 0;
    transition: all 0.3s;
}
section.form .submit-button:hover::after{
    transform: scale(1);
    opacity: 1;
}

section.form .submit-button:hover{
    background-color: #fff;
    color: var(--primary-color);
    transition: all .3s;
}

section.form span,
section.form label,
section.form .form-select{
    color: rgba(0, 0, 0, .7);
}

section.partners .container{
    margin-top: 40px;
}

section.partners .swiper-pagination{              
    margin-bottom: -12px;
}

section.partners .section-title{
    font-weight: 500;
}

section.partners .section-title::after{
    background-color: var(--primary-color);
    content: "";
    width: 70%;
    height: 2px;
    bottom: -8px;
    position: absolute;
}

.swiper-slide .partners-img{
    min-height: 30vh;
    margin-top: 20px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide .partners-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

section.workers .swiper-pagination{              
    margin-bottom: -10px;
}

.swiper .swiper-pagination-bullet{
    background-color: var(--primary-color);
    width: 15px;
    height: 15px;
}


section.workers .container{
    margin-top: 40px;
}

section.workers .section-title{
    font-weight: 500;
}

section.workers .section-title::after{
    background-color: var(--primary-color);
    content: "";
    width: 70%;
    height: 3px;
    bottom: -8px;
    position: absolute;
}

section.workers .worker-amount{
    margin-top: 20px;
    margin-bottom: 20px;
}

section.workers .worker-amount span{
    color: rgba(0, 0, 0, .5);
    font-size: 22px;
}
.workers-swiper{
    padding-bottom: 50px;
}

section.workers .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

section.workers .worker-card{
    cursor: pointer;
    width: 100%;
    max-width: 220px;
    min-height: 190px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

section.workers .swiper-slide:hover .worker-card{
    transform: rotateY(180deg);
}

section.workers .card-face.front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

section.workers .worker-card .card-face.front img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.workers .card-face.back{
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}


section.gallery{
    background-color: var(--general-color);
    padding: 30px 0;
    margin-top: 40px;
}

section.gallery .section-title{
    color: #fff;
}

section.gallery .section-title::after{
    background-color: var(--primary-color);
    content: "";
    width: 80%;
    height: 3px;
    bottom: -8px;
    position: absolute;
}

section.gallery .gallery-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}

section.gallery .gallery-buttons button{
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px;
}

section.gallery .gallery-buttons button:hover{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: all .2s;
}

section.gallery .gallery-buttons button.active:hover{
    color: var(--general-color);
}

section.gallery button.active{
    background-color: var(--primary-color);
    color: var(--general-color);
    border: 1px solid var(--primary-color);
}

section.gallery .row .col-12{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

section.gallery .item{
    width: 100%;
    height: 100%;
    position: relative;
}

section.gallery .image,
section.gallery .image img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section.gallery .image img{
    object-fit: cover;
}

section.gallery .item .hover{
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    opacity: 0;
}
 
section.gallery .image:hover .hover{
    opacity: 1;
    transition: all .3s;
    cursor: pointer;
  }
  
  section.gallery .image .hover a{
    background-color: var(--primary-color);
    color: var(--general-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 20px;
  }

  section.gallery .image .hover a:hover{
    background-color: var(--general-color);
    color: var(--primary-color);
    padding: 10px;
    font-size: 24px;
  }

  section.gallery .image:hover img{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.3); 
    transition: all .5s;
  }


  section.counter .container{
    margin-top: 40px;
  }

  section.counter .counter-value{
    color: rgba(0, 0, 0, .6);
    text-align: center;
    margin-top: 20px;
  }

  section.counter .section-title::after{
    background-color: var(--primary-color);
    content: "";
    width: 90%;
    height: 3px;
    bottom: -5px;
    position: absolute;
}

section.counter .row{
    margin-top: 20px;
    width: 100%;
}

section.counter .counter-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}

section.counter .counter-item img{
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

section.counter .counter-span{
    color: var(--primary-color);
    font-size: 40px;
    margin-bottom: 5px;
    text-align: center;
}

section.counter .label{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

section.contact{
    margin-top: 40px;
    margin-bottom: 0;
    background: url(image/image/footer/footer-texture-2.png);
    padding: 40px 0;
}

section.contact .section-title{
    color: #fff;
}

section.contact .section-title::after{
    background-color: var(--primary-color);
    height: 3px;
    width: 120%;
    content: "";
    position: absolute;
    bottom: -8px;
}

section.contact .logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 200px;
}

section.contact .logo img{
    width: 100%;
    object-fit: cover;
}

section.contact .contact-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

section.contact .contact-wrapper .link{
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

section.contact .contact-wrapper .icon{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    min-height: 50px;
    min-width: 70px;
}

section.contact .contact-wrapper .icon:hover{
    background-color: transparent;
    border: 1px solid #fff;
    transition: all .3s;
}

section.contact .contact-wrapper .label{
    color: #fff;
    font-size: 18px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

section.contact .card-link{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

section.contact .row .col-12{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.footer{
    background-color: var(--general-color);
    color: hsla(0, 0%, 100%, .7);
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.page-scroll-button{
    width: 45px;
    height: 45px;
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid #fff;
    border-radius: 5px;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: center; 
}


.page-scroll-button:hover{
    border-radius: 50%;
    background-color: var(--general-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: all .3s;
}